@value blackBasic from '../../../css/colors.css';

.title {
    font-family: HelveticaNeueCyr;
    color: blackBasic;
    font-size: 32px;
    margin-top: 20px;
    text-align: center;

    @media (--media-phone) {
        font-size: 28px;
    }
}

.description {
    font-family: HelveticaNeueCyrThin;
    color: blackBasic;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;

    @media (--media-phone) {
        font-size: 18px;
    }
}