.commentsWrapper{
    display: flex;
    align-items: center;
    margin-right: 0;
    padding: 12px 18px 0px 18px;
    padding-bottom: 0;
}

.comment{
    width: 70%;
}

.InfoAvatar{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.InfoAvatarImg{
    width: 34px;
    height: 34px;
    border-radius: 20px;
}

.usersNames{
    font-weight: 600;
    margin-right: 4px;
    display: inline-flex;
}

.comments{
    margin: 0px 0px 0px 10px;
    display: inline-block;
    flex-shrink: 1;
}

.commentsInfo{
    display: flex;
    font-size: 12px;
    line-height: 14px;
    color: #999;
    margin: 16px 10px 4px 10px;
}

.commentTime{
    margin-right: 7px;
}

.commentLink{
    background: 0 0;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    margin-right: 16px;
    padding: 0;
    color: #999;
    text-decoration: none;
}