.Ad {
    width: 100%;
}

.AdWrapp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AdNav{
    height: 53px;
    width: 100%;
    border-top: 1px solid #efefef;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    flex-direction: row;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
}

.headButtons{
    cursor: pointer;
    height: 53px;
    display: flex;
    align-items: center;
    color: #999;
}

.headButtonsImg{
    background-repeat: no-repeat;
    background: url('https://www.instagram.com/static/bundles/metro/sprite_core_f01fcb405c10.png/f01fcb405c10.png');
    height: 12px;
    width: 12px;
}

.publicImg{
    background-position: -36px -425px;
}

.publicImgActive {
    background-position: -50px -425px;
}

.tagsImg{
    background-position: -436px -399px;
}

.tagsImgActive{
    background-position: -378px -189px;
}

.headButtonsTxt{
    text-transform: uppercase;
    margin-left: 6px;
}
.navPublication{
    margin: -1px 60px 0px 0px;
}

.navPublicActive{
    border-top: 1px solid #262626;
    color: #262626;
    margin: -1px 60px 0px 0px;
}

.navTags{
    margin: -1px 0px 0px 0px;
}

.navTagsActive{
    border-top: 1px solid #262626;
    color: #262626;
    margin: -1px 0px 0px 0px;
}