.Ad {

}

.AdWrapp{

}

.AdNav{
    height: 53px;
    border-top: 1px solid #efefef;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    flex-direction: row;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
}

.headButtons{
    cursor: pointer;
    height: 53px;
    display: flex;
    align-items: center;
    color: #999;
}
.headButtons:hover {
    border-top: 1px solid #262626;
    color: #262626;
}

.headButtonsImg{
    background-repeat: no-repeat;
    background: url('https://www.instagram.com/static/bundles/metro/sprite_core_f01fcb405c10.png/f01fcb405c10.png');
    height: 12px;
    width: 12px;
}

.publicImg{
    background-position: -50px -425px;
}

.tagsImg{
    background-position: -378px -189px;
}

.headButtonsTxt{
    text-transform: uppercase;
    margin-left: 6px;
}
.publication{
    margin: -1px 60px 0px 0px;
}

.tags{
    margin: -1px 0px 0px 0px;
}

#AdContentWrapp{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 293px;
}

.itemImage{
    width: 293px;
    height: 293px;
}

.item{
    width: 293px;
    height: 293px;
    flex-grow: 1;
    margin-bottom: 28px;
}

.item:last-child{
    flex-grow: 17;
}

.itemInfo{
    display: none
}