.Content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.ContentWrapp{
    height: 100%;
    width: 975px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px 0;
}