@font-face {
  font-family: 'HelveticaNeueCyr';

  src: url('./font/HelveticaNeueCyr-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueCyrThin';

  src: url('./font/HelveticaNeueCyr-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueCyrBold';

  src: url('./font/HelveticaNeueCyr-Bold.ttf') format('truetype');
}