@import 'reset.css';
@import 'fonts.css';

* {
    box-sizing: border-box;
}

li{
    font-family: HelveticaNeueCyrThin;
    color: blackBasic;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}