#AdContentWrapp{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 28px;
    @media (--media-tablet-l) {
        grid-template-columns: 1fr;
    };
    @media (--media-desktop) {
        grid-template-columns: 1fr 1fr;
    };
    @media (--media-desktop-m) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}